{{ define "main" }}

<main class="paintings-page painting-theme-page">

    <header class="page-header paintings-header">

        <h1 class="page-title">
            Paintings on {{ lower .Data.Term }}
        </h1>

        {{ partial "search.html" . }}


    </header>

    {{ partial "painting-theme-navigation.html" . }}

    <section class="painting-list">

        {{ $paginator := .Paginate (.Pages.ByDate.Reverse) 1 }}

        {{ range $paginator.Pages }}
            {{ partial "painting-card.html" . }}
        {{ end }}

    </section>

    {{ if gt $paginator.TotalPages 1 }}

    <nav class="pagination">

        {{ if $paginator.HasPrev }}
            <a class="pagination-prev" href="{{ $paginator.Prev.URL }}">
                ← Newer Paintings
            </a>
        {{ else }}
            <span></span>
        {{ end }}

        {{ if $paginator.HasNext }}
            <a class="pagination-next" href="{{ $paginator.Next.URL }}">
                Older Paintings →
            </a>
        {{ end }}

    </nav>

    {{ end }}

</main>

{{ end }}
