{{ define "main" }}

<section class="essays-page">

    <div class="container">

        <header class="page-header">

            <h1 class="page-title">
                Essays
            </h1>

            <p class="page-introduction">
                Reflections on memory, childhood,
                fatherhood, nature, books,
                gardens, solitude, and the quiet
                mysteries hidden within ordinary life.
            </p>

        </header>

        <section class="essay-list">

            {{ range .Pages }}

                {{ partial "essay-card.html" . }}

            {{ end }}

        </section>

    </div>

</section>

{{ end }}
