<div class="essay-card__content">

    <h2 class="essay-card__title">
        <a href="{{ .RelPermalink }}">
            {{ .Title }}
        </a>
    </h2>

    <p class="essay-card__excerpt">

        {{ with .Params.description }}

        {{ . | truncate 180 }}

        {{ else }}

        {{ with .Summary }}

        {{ . | plainify | truncate 180 }}

        {{ else }}

        <span class="essay-card__placeholder">
            An essay in progress…
        </span>

        {{ end }}

        {{ end }}

    </p>

    <div class="essay-card__meta">

        <time>{{ .Date.Format "2 January 2006" }}</time>

        <span> · </span>

        <span>{{ .ReadingTime }} min read</span>

    </div>

</div>