{{ $hero := .Resources.GetMatch "hero.*" }}

{{ with $hero }}

<div class="essay-card__media">

    <a class="essay-card__image" href="{{ $.RelPermalink }}">

        <img src="{{ .RelPermalink }}" alt="{{ $.Title }}">

    </a>

    {{ with $.Params.themes }}

    <div class="essay-card__themes">

        {{ range $index, $theme := . }}

        {{ if gt $index 0 }} · {{ end }}

        {{ with site.GetPage (printf "/themes/%s" ($theme | urlize)) }}
        <a href="{{ .RelPermalink }}">{{ $theme }}</a>
        {{ else }}
        {{ $theme }}
        {{ end }}

        {{ end }}

    </div>

    {{ end }}

</div>

{{ end }}