<div class="browse-themes">
    Browse by Theme
</div>

<nav class="essay-themes" data-pagefind-ignore>

    <a href="/fragments/">All</a>
    <span>·</span>

    <a href="/fragment-themes/childhood/">Childhood</a>
    <span>·</span>

    <a href="/fragment-themes/fatherhood/">Fatherhood</a>
    <span>·</span>

    <a href="/fragment-themes/nature/">Nature</a>
    <span>·</span>

    <a href="/fragment-themes/gardens/">Gardens</a>
    <span>·</span>

    <a href="/fragment-themes/books/">Books</a>
    <span>·</span>

    <a href="/fragment-themes/solitude/">Solitude</a>
    <span>·</span>

    <a href="/fragment-themes/memoir/">Memoir</a>

</nav>
