{{ define "main" }}

<header class="page-header fragments-header">
    <h1>{{ .Title }}</h1>

    {{ with .Description }}
        <p class="page-description">{{ . }}</p>
    {{ end }}

{{ partial "search.html" . }}

</header>

<section class="fragments-list">

    {{ range .RegularPages.ByDate.Reverse }}

    <article class="fragment">

        <a class="fragment-date-link" href="{{ .RelPermalink }}">
    <time class="fragment-date" datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "2 January 2006" }}
    </time>
</a>

        <div class="fragment-content">
    {{ .Content }}
</div>

        <div class="fragment-divider">⁂</div>

    </article>

    {{ end }}

</section>

{{ end }}
