{{ define "main" }}

<article class="fragment-page">

    <a class="back-link" href="/fragments/">
        ← Fragments
    </a>

    <time class="fragment-date" datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "2 January 2006" }}
    </time>

    <section class="fragment-content">
        {{ .Content }}
    </section>

    <nav class="fragment-navigation">

    <div class="fragment-nav-left">
        {{ with .PrevInSection }}
            <a href="{{ .RelPermalink }}">
                ← {{ .Date.Format "2 January 2006" }}
            </a>
        {{ end }}
    </div>

    <div class="fragment-nav-right">
        {{ with .NextInSection }}
            <a href="{{ .RelPermalink }}">
                {{ .Date.Format "2 January 2006" }} →
            </a>
        {{ end }}
    </div>

</nav>
</article>

{{ end }}
